<ion-header>
  <ion-toolbar>
    <ion-title>items</ion-title>
    <ion-button *ngIf='this.userService.getPassport()==""' (click)="goBack()">Back to Sales</ion-button>
    <ion-button *ngIf='!this.userService.getPassport()==""' (click)="back2()">Back to Passport</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let item of items">
    <span>
      <ion-card-header>
        <ion-card-title>{{item.Name}}</ion-card-title>
        <img src={{item.Picture}}>
        <h4>Quantity: {{item.Qty}}</h4>
      </ion-card-header>
    </span>
  </ion-card>

</ion-content>
