<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of tests">
    <span>
        <ion-card-header>
          <ion-card-title>{{item.Title}}</ion-card-title>
          <h3>{{item.Description}}</h3>
          <h4>From: {{item.StartTime}}</h4>
        </ion-card-header>
        <ion-card>
          <div class="btn">
            <ion-button (click)="items(item.id)">
              <ion-icon name='star' slot="start"></ion-icon>
              View Items
            </ion-button>
          </div>
        </ion-card>
      
    </span>
  </ion-card>
  <br>

</ion-content>

