
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Yard Sales in {{this.userService.getCity()}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of tests">
    <div *ngIf='exists(item)'>
      <span>
        <ion-card-header>
          <ion-card-title>{{item.Title}}</ion-card-title>
          <h3>{{item.Description}}</h3>
          <h4>Address: {{item.Add}}</h4>
          <h5>Starts: {{item.StartTime}}</h5>
          <h5>Ends: {{item.EndTime}}</h5>
        </ion-card-header>
        <ion-card>
          <div class="btn">
            <ion-button (click)="items(item.id)">
              <ion-icon name='star' slot="start"></ion-icon>
              View Items
            </ion-button>
          </div>
        </ion-card>
      
    </span>
    </div>
  </ion-card>
  <br>



</ion-content>

