<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Account Settings
    </ion-card-header>
    <ion-list > 
        <ion-item>
            <ion-list-header>
               Email: {{user}}
            </ion-list-header>
            <ion-button round clear >Edit</ion-button>
        </ion-item>
        <ion-item>
            <ion-list-header>
               Display Name:
            </ion-list-header>
            <ion-button class = "clear" ion-button round clear>Edit</ion-button>
        </ion-item>

        <ion-item>
          <ion-list-header>
             Passport
          </ion-list-header>
          <ion-button round clear (click)='passport()'>Fly Away!</ion-button>
      </ion-item>

      <ion-item>
        <ion-list-header (click)="logout()">
           Sign Out
        </ion-list-header>
    </ion-item>
      </ion-list>
    
  </ion-card>

</ion-content>
