<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <h2>Account Settings</h2>
    </ion-card-header>
    <ion-list > 
        <ion-item>
            <ion-header>
               <h3>Email: {{user}}</h3>
            </ion-header>
            <ion-button round clear >Edit</ion-button>
        </ion-item>
        <ion-item>
            <ion-header>
               <h3>Display Name:</h3>
            </ion-header>
            <ion-button class = "clear" ion-button round clear>Edit</ion-button>
        </ion-item>

        <ion-item>
          <ion-header>
            <h3>Passport:</h3>
          </ion-header>
          <ion-button round clear (click)='passport()'>Fly Away!</ion-button>
      </ion-item>

      <ion-item>
        <ion-header (click)="logout()">
           <h3>Sign Out</h3>
        </ion-header>
    </ion-item>
      </ion-list>
    
  </ion-card>

</ion-content>
