<ion-header>
  <ion-toolbar>
    <ion-title>Add Items</ion-title>
    <ion-button (click)="goBack()">Back to Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label stacked>Item Name</ion-label>
    <ion-input placeholder="Enter Name" [(ngModel)]="item.name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Number of Item</ion-label>
    <ion-input placeholder="Enter Quantity" type="number" [(ngModel)]="item.qty" required></ion-input>
  </ion-item>

  <ion-item>
    <input type='file' id='input'>
  </ion-item>

  <ion-button (click)="createItem()">Add Item</ion-button>
</ion-content>
