<ion-header>
  <ion-toolbar>
    <ion-title>additems</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label stacked>Item Name</ion-label>
    <ion-input placeholder="Enter Email" [(ngModel)]="item.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Picture URL</ion-label>
    <ion-input  [(ngModel)]="item.picture"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Number of Item</ion-label>
    <ion-input  [(ngModel)]="item.qty"></ion-input>
  </ion-item>

  <ion-button (click)="createItem()">Create Sale</ion-button>
</ion-content>
